.foo{
    position: relative;
    min-width: 100vw;
    height: auto;
    padding-top: 70px;
    background-color: $bcg-color;
    overflow-x: hidden;
    z-index: 2;
}

// Contact Form
.contact-form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 30px auto 0;
    height: 100%;
    padding-bottom: 200px;
}
.contact-input{
    position: relative;
    width: calc(100% - 64px);
    padding: 20.5px 30px;
    background: #FFFFFF;
    border: none;
    border-radius: 59px;
}
.contact-input::-webkit-outer-spin-button,
.contact-input::-webkit-inner-spin-button {
    appearance: none;
}
.contact-input::placeholder{
    font-weight: 400;
    font-size: 0.9rem;
    color: #222222;
}
.contact-btn-call{
    background: linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    width: 100%;
    height: 60px;
    border-radius: 59px;
    font-weight: 700;
    font-size: 1.1rem;
    color: #fff;
    transition: box-shadow 250ms ease;
}
.contact-btn-call:hover,
.contact-btn-call:focus {
    box-shadow: 0px 4px 8px rgba(205, 71, 71, 1.26);
}
.contact-btn-icon{
    padding-left: 30px;
}

// Form Border
.contact-form-wrapp{
    position: relative;
}
.contact-form-wrapp::after{
    position: absolute;
    top: -2px;
    left: -2px; 
    content: '';
    width: 100%;
    height: calc(100% + 4px);
    background: #ECEEF6;
    border-radius: 59px;
    z-index: -2;
}
.contact-form-wrapp:nth-child(2){
    margin: 20px 0;
}
.contact-form-wrapp:focus::after,
.contact-form-wrapp:hover::after{
    background-image: $bcg-gradient;
}

@media screen and( min-width: 1024px) {
    .contact-form{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin: 30px auto 0;
        padding-bottom: 350px;
    }
    .contact-input{
        width: calc(256px - 60px);
    }
    .contact-form-wrapp{
        width: 260px;
        height: 60px;
    }
    .contact-form-wrapp::after{
        width: 100%;
        height: 100%;
    }
    .contact-form-wrapp:nth-child(2){
        margin: 0;
    }
    .contact-btn-call{
        width: 260px;
    }
}

//Logo and Author
.foo__logo{
    background: #fff;
    z-index: -3;
}
.logo-wrapp{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.logo-img{
    position: absolute;
    top: 30px;
}
.logo-author{
    padding-top: 85px;
    font-weight: 400;
    font-size: 1rem;
}
.logo-desc{
    padding-top: 20px;
    font-weight: 400;
    font-size: 1rem;
}
.logo-desc-bold{
    font-weight: 700;
}

@media screen and( min-width: 768px) {
    .logo-wrapp{
        flex-direction: row;
        justify-content: space-between;
    }
    .logo-img{
        position:static;
    }
    .logo-author{
        padding-top: 0;
    }
    .logo-desc{
        padding-top: 0;
    }
}
