// Header Parallax
.scene{
    position: fixed;
    top: 0;
    left: -5%;
    width: 110%;
    height: 85%;
    background-color: $bcg-color;
}
.scene__layer{
    position: absolute;
    width: 110%;
    height: 100vh;
    background-repeat: no-repeat;
}
.layer-1{
    background-image: url('/img/parallax/bcg-first.png');
    background-size: 80% auto;
    background-position: 25% 65%;
}
.layer-2{
    background-image: url('/img/parallax/bcg-sec.png');
    background-size: 80% auto;
    background-position: 0% 70%;
}
.layer-3{
    background-image: url('/img/parallax/bcg-pizza.png');
    background-size: 75% auto;
    background-position: 45% 90%;
}

@media screen and (min-width: 480px) {
    .layer-3{
        background-size: 60% auto;
    }
}
@media screen and (min-width: 768px) {
    .layer-3{
        background-size: 50% auto;
    }
}
@media screen and (min-width: 1024px) {
    .layer-3{
        background-size: 40% auto;
    }
}
@media screen and (min-width: 1600px) {
    .layer-3{
        background-size: 35% auto;
    }
}

// Footer Parallax
.foo-scene{
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
}