// Header Parallax
.scene{
    overflow: hidden;
    width: 100%;
}
.scene__layer{
    position: absolute;
    top: 0;
    left: -5%;
    width: 120%;
    height: 100%;
    background-repeat: no-repeat;
}
.layer-1{
    background-image: url('../img/parallax/bcg-first.png');
    background-size: 80% auto;
    background-position: 25% 60%;
}
.layer-2{
    background-image: url('../img/parallax/bcg-sec.png');
    background-size: 95% auto;
    background-position: 0% 65%;
}
.layer-3{
    background-image: url('../img/parallax/bcg-pizza.png');
    background-size: 90% auto;
    background-position: 100% 85%;
}

@media screen and (min-width: 480px) {
    .layer-1{
        background-position: 25% 60%;
    }
    .layer-3{
        background-size: 70% auto;
        background-position: 50% 90%;
    }
}
@media screen and (min-width: 768px) {
    .layer-1{
        background-position: 25% 50%;
    }
    .layer-3{
        background-size: 50% auto;
        background-position: 50% 80%;
    }
}
@media screen and (min-width: 1024px) {
    .layer-1{
        background-position: 20% 0%;
    }
    .layer-3{
        background-size: 40% auto;
        background-position: center 80%;
    }
}
@media screen and (min-width: 1440px) {
    .layer-1{
        background-size: 70% auto;
        background-position: 35% 0%;
    }
    .layer-2{
        background-size: 85% auto;
        background-position: 10% 50%;
    }
    .layer-3{
        background-size: 35% auto;
        background-position: center 80%;
    }
}

// Footer Parallax
.foo-parallax {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}
.foo-scene {
    position: absolute;
    top: 0;
    left: -5%;
    width: 108%;
    height: 100%;
    background-repeat: no-repeat;
  }
  
  .foo-layer1 {
    background-image: url("../img/parallax/foo-layer1.png");
    background-position: center 65%;
    background-size: 95% auto;
  }
  
  .foo-layer2 {
    background-image: url("../img/parallax/foo-layer2.png");
    background-position: center 60%;
    background-size: 100% auto; 
  }
  
  .foo-layer3 {
    background-image: url("../img/parallax/foo-layer3.png");
    background-position: center 72%;
    background-size: 85% auto;
  }

@media screen and (min-width: 480px) {
    .foo-layer3{
        background-position: center 73%;
    }
}

@media screen and (min-width: 768px) {
    .foo-layer3{
        background-position: center 80%;
        background-size: 70% auto;
    }
}

@media screen and (min-width: 1024px) {
    .foo-layer3{
        background-position: center 83%;
    }
}

@media screen and (min-width: 1440px) {
    .foo-layer3{
        background-position: center 83%;
        background-size: 60% auto;
    }
}