 .product{
    padding: 81px 0 120px;
    background-color: #fff;
    overflow: hidden;
}

// Product Tabs
.product__tab{
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    padding-top: 50px;
}
.tab-btn{
    position: relative;
    padding: 17px 0;
    background-color: #ECEEF6;
    border-radius: 45px;
    width: 240px;
    color: #151515;
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    z-index: 5;
    transition: 300ms ease-out;
    &:hover,
    &:focus {
        color: #fff;
    }
}
.tab-btn::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $accent;
    transition: 400ms ease-out;
    clip-path: circle(0px);
    z-index: -2;
}
.tab-btn:hover:before,
.tab-btn:focus:before {
    clip-path: circle(200px);
}

// Product Bin
.product__bin{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bin-total{
    position: absolute;
    top: -75px;
    right: 80px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    padding: 5px 10px;
    background-color: #3F3F3FFF;
    font-size: 1.1rem;
    transition: opacity ease 1s, transform (250ms);
}
.bin-total-icon{
    position: absolute;
    top: 10px;
    right: -22%;
    width: 30px;
    height: 30px;
    fill: #3F3F3FFF;
}
.bin-link{
    position: absolute;
    top: -80px;
    right: 0;
}
.bin-bag{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: $bcg-shadow;
}
.bin-icon{
    width: 30px;
}
.bin-link:hover > .bin-bag,
.bin-link:focus > .bin-bag {
    border: 2px solid $accentSec;
}
.bin-quantity{
    position: absolute;
    right: -20%;
    top: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: $accentSec;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

// Button Update

.product__btn-update{
    display: flex;
    justify-content: center;
}
.btn-update{
    margin-top: 85px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $bcg-gradient;
    transition: 250ms;
}
.btn-update:hover,
.btn-update:focus {
    box-shadow: 0px 4px 8px rgba(205, 71, 71, 1.26);
}
.btn-update-svg{
    transition: all 1000ms ease;
}
@media screen and (min-width: 768px) {
    .product__tab{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .tab-btn{
        width: auto;
    }
}
@media screen and (min-width: 1024px) {
    .product__tab{
        grid-template-columns: 145px 145px 145px 145px 145px;
        justify-items: center;
    }
    .tab-btn{
        width: 100%;
    }
}