.product__card{
   padding-top: 86px;
   display: grid; 
   grid-gap: 50px;
   justify-content: center;
}
.card-item{
    position: relative;
    max-width: calc(260px - 34px);
    padding: 190px 15px 45px;
    background-color: transparent;
    transition: all 250ms;
}
// .card-item--hidden{
//     display: none;
// }
.card-topseller{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    padding: 6px 0;
    width: 60px;
    color: #fff;
    background: $bcg-gradient;
    border-radius: 3px;
    font-weight: 600;
    font-size: 0.8rem;
    box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
}
.card-border-svg{
    position: absolute;
    top: 0;
    left: 0;
    stroke-width: 2px;
    stroke: #ECEEF6;
}
.card-item:hover .card-border-svg,
.card-item:focus .card-border-svg {
    filter: drop-shadow(0px 4px 8px rgba(205, 71, 41, 0.26));
}
.card-img{
    position: absolute;
    top: 40px;
    left: 25%;
    width: 170px;
    height: 170px;
}
.card-head{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.card-title{
    line-height: 22px;
    font-size: 1rem;
    font-weight: 600;
}
.card-size{
    line-height: 22px;
    font-weight: 400;
    font-size: 0.8rem;
}
.card-desc{
    padding-top: 8px;
    line-height: 22px;
    font-weight: 400;
    font-size: 0.8rem;
}
.card-price{
    font-weight: 300;
    font-size: 1.5rem;
    padding-top: 19px;
    display: flex;
    justify-content: center;
}
.card-bin{
    position: absolute;
    bottom: -20px;
    left: calc(50% - 15px);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #ECEEF7;
}
.card-bin-svg{
    fill: $accentSec;
}
.card-bin:hover,
.card-bin:focus {
    background: $bcg-gradient;
    box-shadow: $bcg-shadow;
}
.card-bin:hover > .card-bin-svg,
.card-bin:focus > .card-bin-svg {
    fill: #fff;
}

@media screen and(min-width: 768px) {
    .product__card{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-gap: 70px 0;
     }
}
@media screen and(min-width: 1024px) {
    .product__card{
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        grid-gap: 70px 0;
     }
     .card-item--hidden{
        display: block;
    }
}
@media screen and(min-width: 1440px) {
    .product__card{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        grid-gap: 70px 0;
     }
     .card-item--hidden{
        display: block;
    }
}