$bcg-color: #F0F5FB;
$bcg-gradient: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
$bcg-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
$accent: #59AAF1;
$accentSec: #F58656;
$btn-bcg: linear-gradient(0deg, #ECEEF6, #ECEEF6), #59AAF1;