.hero{
    padding-top: 50px;
}
.hero-subtitle{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
    padding-top: 18px;
}

@media screen and(min-width: 1024px) {
    .hero{
        padding-top: 100px;
    }
}