body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-width: 320px;
    color: #000;
    font-family: "Montserrat";
    background-color: #fff;
}
.container{
    padding: 0 20px;
    margin: 0 auto;

    @media screen and(min-width: 480px) {
        max-width: 480px;
    }
    @media screen and(min-width: 768px) {
        padding: 0 30px;
        max-width: 708px;
    }
    @media screen and(min-width: 1024px) {
        max-width: 964px;
    }
    @media screen and(min-width: 1440px) {
        padding: 0 80px;
        max-width: 1280px;
    }
}